@font-face {
    font-family: 'ALOCHOVEY Free Trial';
    src: url('/fonts/ALOCHOVEYFreeTrial.woff2') format('woff2'),
        url('/fonts/ALOCHOVEYFreeTrial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wastinger Display Free Personal';
    src: url('/fonts/WastingerDisplayFreePersonal-.woff2') format('woff2'),
        url('/fonts/WastingerDisplayFreePersonal-.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

